@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.5;
  font-size: 1.1em;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a {
  color: hsl(0deg, 0%, 0%);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  border: inherit;
  border-radius: 3px;
  background-color: hsl(274deg, 85%, 67%);
  cursor: pointer;
}
button a {
  color: hsl(0deg, 0%, 100%);
}

.session-list h3 {
  display: flex;
  margin-top: 50px;
  color: hsl(275deg, 30%, 46%);
  font-size: 1.3em;
}

table {
  width: 100%;
  box-shadow: 0 1px 3px hsla(0deg, 0%, 0%, 0.2);
  display: table;
  border-collapse: collapse;
  margin: 30px 0 50px 0;
}
table th,
table td {
  text-align: center;
  padding: 8px 15px;
}
table thead {
  background-color: hsla(274deg, 64%, 86%, 0.33);
}
table tbody tr:nth-child(even) {
  background: hsla(30deg, 12%, 90%, 0.38);
}
table tbody tr.normal td:nth-last-child(2) {
  color: hsla(119deg, 83%, 52%, 0.89);
  font-size: 1.4em;
}
table tbody tr.complete {
  border: 2px solid hsl(0deg, 85%, 67%);
}
table tbody tr.complete td:first-child:before {
  content: "COMPLET ";
  color: hsl(0deg, 85%, 67%);
}
table tbody tr.complete td:nth-last-child(2) {
  color: hsl(0deg, 85%, 67%);
  font-size: 1.4em;
}
table tbody tr td:nth-last-child(1) {
  display: flex;
  gap: 10px;
  width: 100%;
}

nav {
  background-color: hsla(274deg, 64%, 86%, 0.33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  box-shadow: 0px -2px 7px hsla(0deg, 0%, 0%, 0.25);
}
nav .nav-right {
  display: flex;
  justify-content: space-evenly;
  flex: 0.6;
}
nav .nav-right > * {
  margin-right: 10px;
}

main {
  padding: 0 30px;
}

.title {
  background: hsl(280deg, 37%, 17%);
  color: hsl(274deg, 85%, 67%);
  width: 100%;
  padding: 20px 120px;
}
.title .date {
  color: hsl(0deg, 0%, 100%);
}
.title .date::before {
  display: inline-block;
  width: 70px;
  height: 7px;
  background: hsl(274deg, 85%, 67%);
  content: "";
  margin-right: 1.1em;
}

.modules-list {
  background-color: hsl(34deg, 74%, 82%);
  margin: 20px 0;
  padding: 10px;
}

.modules {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 5px 0;
}

.intern {
  margin: 50px 0;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}
.intern .intern-details {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.19);
  background-color: hsl(58deg, 65%, 82%);
  padding: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.intern .intern-details .edit-intern {
  margin-bottom: 10px;
}
.intern .intern-details .edit-intern h4 {
  font-size: 2em;
}
.intern .intern-details .intern-coordinates {
  border: 2px dashed hsl(274deg, 85%, 67%);
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}
.intern .intern-details .sessions-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.intern .intern-details .sessions-list .session {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 0;
  background: hsla(274deg, 64%, 86%, 0.33);
  margin-bottom: 10px;
}
.intern .intern-details .sessions-list .session:hover {
  transform: scale(1.1);
  transition: 300ms ease-in-out transform;
}
.intern .intern-details .sessions-list .session a {
  text-decoration: inherit;
}
.intern .intern-details .sessions-list .session a .date {
  font-weight: 700;
  font-size: 0.55em;
  background: hsl(280deg, 37%, 17%);
  color: hsl(274deg, 85%, 67%);
}
.intern .intern-details .sessions-list .session a h4.module-name {
  padding: 5px;
}

.interns-list {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.interns-list .interns-details {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.19);
  background-color: hsl(34deg, 74%, 82%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 20px;
  padding: 20px;
}
.interns-list .interns-details .sessions-list {
  width: 230px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.interns-list .interns-details .sessions-list .session {
  padding: 5px 0;
  background: hsla(274deg, 64%, 86%, 0.33);
  margin-bottom: 10px;
}
.interns-list .interns-details .sessions-list .session:hover {
  transform: scale(1.1);
  transition: 300ms ease-in-out transform;
}
.interns-list .interns-details .sessions-list .session a {
  text-decoration: inherit;
}
.interns-list .interns-details .sessions-list .session a .date {
  font-weight: 700;
  font-size: 0.55em;
  background: hsl(280deg, 37%, 17%);
  color: hsl(274deg, 85%, 67%);
}
.interns-list .interns-details .sessions-list .session a h4.module-name {
  padding: 5px;
}

footer {
  margin: 0 30px;
}

#intern-btn {
  margin-top: 20px;
}

.button-color {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(274deg, 85%, 67%);
}

.add-btn {
  color: hsl(0deg, 0%, 100%);
  background-color: hsla(119deg, 83%, 52%, 0.89);
  font-weight: 700;
  padding: 0 8px;
}
.add-btn a {
  text-decoration: inherit;
  color: hsl(0deg, 0%, 100%);
}

.danger {
  background-color: hsl(0deg, 85%, 67%);
  font-weight: 700;
  padding: 0 8px;
}
.danger a {
  text-decoration: inherit;
  color: hsl(0deg, 0%, 100%);
}

.edit {
  background-color: white;
  font-weight: 700;
  padding: 0 8px;
}
.edit a {
  text-decoration: inherit;
  color: hsl(0deg, 0%, 100%);
}

.categorie {
  font-size: 1.3em;
  color: hsl(275deg, 30%, 46%);
}

.big-btn {
  font-size: 1.2em;
}

.btn-lg {
  color: white;
}
.btn-lg:hover {
  opacity: 0.6;
}

.btn-menu {
  display: none;
}

.btn-close-menu {
  display: none;
}

@media (max-width: 1023px) {
  table,
thead,
tbody,
th,
td,
tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table {
    box-shadow: none;
    font-size: 1.2em;
  }
  table tr {
    margin: 20px 0;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:nth-of-type(1) {
    background-color: hsla(274deg, 64%, 86%, 0.33);
  }
  .home-sessions td:before {
    position: absolute;
    top: 8px;
    left: 2px;
    white-space: nowrap;
  }
  .home-sessions td:nth-last-child(1) {
    justify-content: center;
  }
  .home-sessions td:nth-of-type(1):before {
    font-size: 0.8em;
  }
  .home-sessions td:nth-of-type(2):before {
    content: "Début	";
  }
  .home-sessions td:nth-of-type(3):before {
    content: "Fin";
  }
  .home-sessions td:nth-of-type(4):before {
    content: "Places théoriques";
  }
  .home-sessions td:nth-of-type(5):before {
    content: "Places réservées";
  }
  .home-sessions td:nth-of-type(6):before {
    content: "Places restantes";
  }
  .home-sessions td:nth-of-type(7):before {
    content: "Actions";
  }
}
@media (max-width: 699px) {
  line {
    stroke: hsl(280deg, 37%, 17%);
    stroke-width: 3;
    stroke-linecap: round;
  }
  .btn-menu {
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    z-index: 101;
    display: block;
  }
  .btn-close-menu {
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    z-index: 101;
  }
  nav .nav-right {
    display: none;
  }
  nav .clicked {
    top: 0px;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 100;
    background: hsla(0deg, 0%, 100%, 0.945);
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    left: 0;
    font-size: 1.3em;
  }
  nav .clicked > * {
    margin: 16px 32px;
  }
  nav .clicked > *:nth-child(1) {
    margin-top: 60px;
  }
  nav .clicked button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 649px) {
  header.title {
    padding: 20px 10px;
  }
  table {
    font-size: 0.9em;
  }
  table tbody tr.normal td:nth-last-child(2),
table tbody tr.complete td:nth-last-child(2) {
    font-size: 1.1em;
  }
}
@media (max-width: 649px) and (max-width: 399px) {
  table {
    font-size: 0.9em;
  }
  table tbody tr.normal > *,
table tbody tr.complete > * {
    text-align: end;
  }
}/*# sourceMappingURL=style.css.map */