@forward "globals/index";
@import "./globals/include-media";

$nav-color: hsla(274, 64%, 86%, 0.33);
$title-background-color: hsl(280, 37%, 17%);
$flashy-violet: hsl(274, 85%, 67%);
$white: hsl(0, 0%, 100%);
$dark: hsl(0, 0%, 0%);
$danger-color: hsl(0, 85%, 67%);
$category-color: hsl(275, 30%, 46%);
$add-color: hsla(119, 83%, 52%, 0.89);
$module1-color: hsl(34, 74%, 82%);
$module2-color: hsl(58, 65%, 82%);
$module3-color: hsl(58, 75%, 49%);
$table-gray: hsla(30, 12%, 90%, 0.38);

.wrapper{
  min-height: 100vh;
  position: relative;
}

a {
  color: $dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.session-list h3 {
  display: flex;
  margin-top: 50px;
  color: $category-color;
  font-size: 1.3em;
}

table {
  width: 100%;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  display: table;
  border-collapse: collapse;
  margin: 30px 0 50px 0;
  th,
  td {
    text-align: center;
    padding: 8px 15px;
  }
  thead {
    background-color: $nav-color;
  }
  tbody {
    tr:nth-child(even) {
      background: $table-gray;
    }
    tr.normal {
      td:nth-last-child(2) {
        color: $add-color;
        font-size: 1.4em;
      }
    }
    tr.complete {
      border: 2px solid $danger-color;
      td:first-child:before {
        content: "COMPLET ";
        color: $danger-color;
      }
      td:nth-last-child(2) {
        color: $danger-color;
        font-size: 1.4em;
      }
    }
  }
}

.home-sessions {
  tr {
    td:nth-last-child(1) {
      a{
        margin-right: 10px;
      }
    }
  }
}

nav {
  background-color: $nav-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  box-shadow: 0px -2px 7px hsla(0, 0%, 0%, 0.25);
  .nav-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.6;
    > * {
      margin-right: 10px;
    }
  }
  .nav-left{
    .nav-title{
      color: $flashy-violet;
    }
  }
  .admin{
    color: $danger-color;
   
  }
}

main {
  padding: 0 30px;
}

.title {
  background: $title-background-color;
  color: $flashy-violet;
  width: 100%;
  padding: 20px 120px;
  .date {
    color: $white;
    &::before {
      display: inline-block;
      width: 70px;
      height: 7px;
      background: $flashy-violet;
      content: "";
      margin-right: 1.1em;
    }
  }
}

.module-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  table{
    // max-width: 900px;
    flex: 1;
  }
  .modules-list{
    padding: 20px;
    margin-right: 20px;
  }
}

.modules-list, .categories {
  background-color: $module1-color;
  margin: 20px 0;
  padding: 10px;
  .list-name{
    font-size: 1.2em;
    margin: 4px 0;
  }
  .edit-del{
    margin: 10px 0 30px 0;
  }
}

.modules {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 5px 0;
}

// SHOW INTERN
.intern {
  margin: 50px 0;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  .intern-details {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.19);
    background-color: $module2-color;
    padding: 50px;
    width: fit-content;
    .edit-intern {
      margin-bottom: 10px;
      h4 {
        font-size: 2em;
      }
    }
    .intern-coordinates {
      border: 2px dashed $flashy-violet;
      padding: 10px;
      width: fit-content;
      margin-bottom: 20px;
    }
    .sessions-list {
      width: fit-content;
      .session {
        height: fit-content;
        padding: 5px 0;
        background: $nav-color;
        margin-bottom: 10px;
        &:hover {
          transform: scale(1.1);
          transition: 300ms ease-in-out transform;
        }
        a {
          text-decoration: inherit;
          .date {
            font-weight: 700;
            font-size: 0.55em;
            // width: 100%;
            background: $title-background-color;
            color: $flashy-violet;
          }
          h4.module-name {
            padding: 5px;
          }
        }
      }
    }
  }
}

// INTERNS LIST
.interns-list {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  .interns-details {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.19);
    background-color: $module1-color;
    width: fit-content;
    display: flex;
    gap: 20px;
    padding: 20px;
    .sessions-list {
      width: 230px;
      height: fit-content;
      .session {
        padding: 5px 0;
        background: $nav-color;
        margin-bottom: 10px;
        &:hover {
          transform: scale(1.1);
          transition: 300ms ease-in-out transform;
        }
        a {
          text-decoration: inherit;
          .date {
            font-weight: 700;
            font-size: 0.55em;
            background: $title-background-color;
            color: $flashy-violet;
          }
          h4.module-name {
            padding: 5px;
          }
        }
      }
    }
  }
}

footer {
  margin: 10px 30px;
  position: absolute;
  bottom: 0;
  a{
    padding: 0 20px;
  }
}

.btn {
  border: inherit;
  border-radius: 3px;
  background-color: $flashy-violet;
  cursor: pointer;
  color: $white;
  display: inline-block;
  text-align: center;
}

.dark-theme{
  opacity: 0.7;
  position: relative;
  border-radius: 5px;
  width: 40px;
  height: 32px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.light-theme{
  display: none;
}

#intern-btn {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  color: $white;
}

.button-color {
  color: $white;
  background-color: $flashy-violet;
}

.add-btn {
  background-color: $add-color;
  font-weight: 700;
  padding: 0 8px;
}

.danger {
  background-color: $danger-color;
  font-weight: 700;
  padding: 0 8px;
}

.edit {
  font-weight: 700;
  padding: 0 8px;
  text-decoration: inherit;
  color: $white;
}

.categorie {
  font-size: 1.3em;
  color: $category-color;
}

.big-btn {
  font-size: 1.2em;
}

.btn-lg {
  color: white;
  &:hover {
    opacity: 0.6;
  }
}

.btn-menu {
  display: none;
}

.btn-close-menu {
  display: none;
}

// MEDIA QUERIES

//DESKTOP
@include media("<desktop") {
  // TABLE BEHAVIOUR
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table {
    box-shadow: none;
    font-size: 1.2em;
    tr {
      margin: 20px 0;
    }
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;

    &:nth-of-type(1) {
      background-color: $nav-color;
    }
    td {
      button {
        justify-content: center;
      }
    }
  }

  .module-wrapper{
    flex-direction: column;
    table{
      margin-top: 0;
    }
  }

  .home-sessions {
    td {
      &:before {
        position: absolute;
        top: 8px;
        left: 2px;
        white-space: nowrap;
      }
      &:nth-last-child(1) {
        justify-content: center;
      }
      &:nth-of-type(1):before {
        font-size: 0.8em;
      }
      &:nth-of-type(2):before {
        content: "Début	";
      }
      &:nth-of-type(3):before {
        content: "Fin";
      }
      &:nth-of-type(4):before {
        content: "Places théoriques";
      }
      &:nth-of-type(5):before {
        content: "Places réservées";
      }
      &:nth-of-type(6):before {
        content: "Places restantes";
      }
      &:nth-of-type(7):before {
        content: "Actions";
      }
    }
  }
}

//TABLET
@include media("<700px") {
  line {
    stroke: $title-background-color;
    stroke-width: 3;
    stroke-linecap: round;
  }

  .btn-menu {
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    z-index: 101;
    display: block;
  }

  .btn-close-menu {
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    z-index: 101;
  }

  nav {
    .nav-right {
      display: none;
    }
    .clicked {
      top: 0px;
      min-height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: 100;
      background: hsla(0, 0%, 100%, 0.945);
      backdrop-filter: blur(7px);
      left: 0;
      font-size: 1.3em;
      & > * {
        margin: 16px 32px;
        &:nth-child(1) {
          margin-top: 60px;
        }
      }
      button {
        width: fit-content;
      }
    }
  }
}

//PHONE
@include media("<650px") {
  header.title {
    padding: 20px 10px;
  }

  table {
    font-size: 0.9em;
    tbody {
      tr.normal,
      tr.complete {
        td {
          &:nth-last-child(2) {
            font-size: 1.1em;
          }
        }
      }
    }
  }

  @include media("<600px") {
    .interns-list {
      .interns-details {
        flex-direction: column;
        flex: 0.7;
      }
    }
  }

  @include media("<400px") {
    nav{
      padding: 0;
      display: flex;
      flex-direction: column;
      height: fit-content;
      .btn-menu{
        padding: 5px;
      }
    }
    table {
      font-size: 0.9em;
      tbody {
        tr.normal,
        tr.complete {
          & > * {
            text-align: end;
          }
        }
      }
    }
  }
}
