$nav-color : hsla(274, 64%, 86%, 0.33);
$title-background-color : hsl(280, 37%, 17%);
$flashy-violet : hsl(274, 85%, 67%);
$white : hsl(0, 0%, 100%);
$dark : hsl(0, 0%, 0%);
$danger-color : hsl(0, 85%, 67%);
$category-color: hsl(275, 30%, 46%);
$add-color:hsla(119, 83%, 52%, 0.89);
$module1-color:hsl(58, 66%, 82%);

*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  height: 100%;
}

body {
  line-height: 1.5;
}

button{
  border:inherit;
  border-radius: 3px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a{
  color: $dark;
}

table{
  width: 100%;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  display: table;
  border-collapse: collapse
}


nav{
  background-color: $nav-color;
  display: flex;
  align-items: center;
  gap: 40px;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0px -2px 7px hsla(0, 0%, 0%, 0.25);
}

main{
  padding: 0 100px;
}

.title{
  background: $title-background-color;
  color: $flashy-violet;
  width: 100%;
  padding: 20px 120px;
  .date{
    color: $white;
    &::before{
      display: inline-block;
      width: 70px;
      height: 7px;
      background: $flashy-violet;
      content: '';
      margin-right: 1.1em;
    }
  }
}


.modules-list{
  background-color: hsl(34, 74%, 82%);
  margin: 20px 0;
  padding: 10px;

}

.modules{
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 5px 0;
}

// INTERNS LIST
.interns-list{
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .interns-details{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.19);
    background-color: hsl(34, 74%, 82%);
    width: fit-content;
    display: flex;
    gap: 20px;
    padding: 20px;
    .sessions-list{
      width: 200px;
      height: fit-content;
      padding: 5px 0;
      background: hsla(274, 39%, 78%, 0.329);
      .date{
        font-weight: 700;
        font-size: 0.55em;
        // width: 100%;
        background: $title-background-color;
        color: $flashy-violet;
      }
    }
  }
}

#intern-btn{
  margin-top: 20px;
}

.button-color{
  color: $white;
  background-color: $flashy-violet;
}

.add-btn{
  color: $white;
  background-color: $add-color;
  font-weight: 700;
  padding: 0 8px;
  a{
    text-decoration: inherit;
    color: $white;
  }
}

.danger{
  background-color: $danger-color;
  font-weight: 700;
  padding: 0 8px;
  a{
    text-decoration: inherit;
    color:$white;
  }
}

.edit{
  background-color: $flashy-violet;
  font-weight: 700;
  padding: 0 8px;
  a{
    text-decoration: inherit;
    color:$white;
  }
}

.categorie{
  font-size: 1.3em;
  color: $category-color;
}

.font-small{
  font-size: x-small;
}