* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-size: 1.3em;
}

button {
  border: inherit;
  border-radius: 3px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a {
  color: hsl(0deg, 0%, 0%);
}

h3 {
  margin-top: 30px;
  color: hsl(275deg, 30%, 46%);
  font-size: 1.3em;
  border-top: 2px solid hsl(275deg, 30%, 46%);
  border-bottom: 2px solid hsl(275deg, 30%, 46%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

table {
  width: 100%;
  box-shadow: 0 1px 3px hsla(0deg, 0%, 0%, 0.2);
  display: table;
  border-collapse: collapse;
  margin: 30px 0 50px 0;
}
table th,
table td {
  text-align: center;
  padding: 8px 15px;
}
table thead {
  background-color: hsla(274deg, 64%, 86%, 0.33);
}
table tbody tr:nth-child(even) {
  background: hsla(30deg, 12%, 90%, 0.38);
}
table tbody td:nth-last-child(2) {
  color: hsla(119deg, 83%, 52%, 0.89);
  font-size: 1.4em;
}
table tbody tr.complete {
  border: 2px solid hsl(0deg, 85%, 67%);
}
table tbody tr.complete td:first-child:before {
  content: "COMPLET ";
  color: hsl(0deg, 85%, 67%);
}
table tbody tr.complete td:nth-last-child(2) {
  color: hsl(0deg, 85%, 67%);
  font-size: 1.4em;
}

nav {
  background-color: hsla(274deg, 64%, 86%, 0.33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0px -2px 7px hsla(0deg, 0%, 0%, 0.25);
}
nav .nav-right {
  display: flex;
  gap: 30px;
}

main {
  padding: 0 30px;
}

.title {
  background: hsl(280deg, 37%, 17%);
  color: hsl(274deg, 85%, 67%);
  width: 100%;
  padding: 20px 120px;
}
.title .date {
  color: hsl(0deg, 0%, 100%);
}
.title .date::before {
  display: inline-block;
  width: 70px;
  height: 7px;
  background: hsl(274deg, 85%, 67%);
  content: "";
  margin-right: 1.1em;
}

.modules-list {
  background-color: hsl(34deg, 74%, 82%);
  margin: 20px 0;
  padding: 10px;
}

.modules {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 5px 0;
}

.intern {
  margin: 50px 0;
}
.intern .intern-details {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.19);
  background-color: hsl(34deg, 74%, 82%);
  padding: 20px;
}
.intern .intern-details .edit-intern {
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
}
.intern .intern-details .edit-intern h4 {
  font-size: 3em;
}
.intern .intern-details .sessions-list {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.intern .intern-details .sessions-list .session {
  padding: 5px 0;
  background: hsla(274deg, 39%, 78%, 0.329);
  margin-bottom: 10px;
}
.intern .intern-details .sessions-list .session a {
  text-decoration: inherit;
}
.intern .intern-details .sessions-list .session a .date {
  font-weight: 700;
  font-size: 0.55em;
  background: hsl(280deg, 37%, 17%);
  color: hsl(274deg, 85%, 67%);
}

.interns-list {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.interns-list .interns-details {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.19);
  background-color: hsl(34deg, 74%, 82%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 20px;
  padding: 20px;
}
.interns-list .interns-details .sessions-list {
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.interns-list .interns-details .sessions-list .session {
  padding: 5px 0;
  background: hsla(274deg, 39%, 78%, 0.329);
  margin-bottom: 10px;
}
.interns-list .interns-details .sessions-list .session a {
  text-decoration: inherit;
}
.interns-list .interns-details .sessions-list .session a .date {
  font-weight: 700;
  font-size: 0.55em;
  background: hsl(280deg, 37%, 17%);
  color: hsl(274deg, 85%, 67%);
}

#intern-btn {
  margin-top: 20px;
}

.button-color {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(274deg, 85%, 67%);
}

.add-btn {
  color: hsl(0deg, 0%, 100%);
  background-color: hsla(119deg, 83%, 52%, 0.89);
  font-weight: 700;
  padding: 0 8px;
}
.add-btn a {
  text-decoration: inherit;
  color: hsl(0deg, 0%, 100%);
}

.danger {
  background-color: hsl(0deg, 85%, 67%);
  font-weight: 700;
  padding: 0 8px;
}
.danger a {
  text-decoration: inherit;
  color: hsl(0deg, 0%, 100%);
}

.edit {
  background-color: hsl(274deg, 85%, 67%);
  font-weight: 700;
  padding: 0 8px;
}
.edit a {
  text-decoration: inherit;
  color: hsl(0deg, 0%, 100%);
}

.categorie {
  font-size: 1.3em;
  color: hsl(275deg, 30%, 46%);
}

.big-btn {
  font-size: 3em;
}/*# sourceMappingURL=style.css.map */