{% extends 'base.html.twig' %}

{% block title %}Formulaire des Modules{% endblock %}

{% block body %}
<main>
{% if edit %}
<h1> Edit Module </h1>
{% else %}
<h1> Ajout Module </h1>
{% endif %}

{{ form_start(formModule) }}
  {{ form_row(formModule.nom) }}
  {{ form_row(formModule.categorie) }}
{{ form_end(formModule) }}
</main>
{% endblock %}