{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<main>
  <div class="modules">
    <h1>Liste des Modules ✅</h1>

    {% for categorie in categories%}
    <h4>{{ categorie }}</h4>
    <ul>
      {% for module in modules %}
      {% if(categorie.id == module.categorie.id ) %}
      <li>{{module.nom}}</li><a href="{{ path('edit_module', {'id':module.id}) }}">edit</a>
      {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
    <button><a href="{{path('add_module')}}">Ajouter</a></button>
  </div>
</main>
{% endblock %}