{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<main>
  <div class="modules">
      <h1>Liste des Modules ✅</h1>
  
      {% for module in modules%}
      <ul>
        <li>{{module.nom}} ({{module.categorie.nom}})</li>
      </ul>
      {% endfor %}
      <button><a href="{{path('add_module')}}">Ajouter</a></button>
  </div>
  </main>
{% endblock %}
