{% extends 'base.html.twig' %}

{% block title %}Categorie List{% endblock %}

{% block body %}
<header class="title">
  <h2>Liste des Catégories</h2>
</header>
<main>
  <div class="categories">
    <ul role="list">
    {% for categorie in categories%}
      <h4 class="categorie">{{categorie.nom}}</h4>
      <div class="edit-del">
        <a class="btn edit" href="{{ path('edit_categorie', {'id':categorie.id}) }}">edit</a> <a class="btn danger" href="{{ path('del_categorie', {'id':categorie.id}) }}">supprimer</a>
      </div>
      {% endfor %}
    </ul>
  </div>
  <a id="intern-btn" class="btn add-btn" href="{{path('add_categorie')}}">Ajouter</a>
</main>
{% endblock %}