{% extends 'base.html.twig' %}

{% block title %}List Users{% endblock %}

{% block body %}
<main>
<div class="users">
    <h1>Liste des Formateurs ✅</h1>

    {% for user in users%}
    <ul>
      <li>{{user.pseudo}} ({{user.email}})</li>
    </ul>
    {% endfor %}

</div>
</main>
{% endblock %}
